body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.section {
    width: 100%;
    max-width: 1200px;
    height: 100vh;

    margin: auto;
}

.section.first {
    position: relative;
    background-color: #efd592;
}

.section.second {
    background-color: #4343f9;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.button-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 200px;
    height: 200px;

    border-radius: 50%;

    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.2em;
    color: #efd592 ;

    background-color: #242d38;
}

.button-2 {
    position: absolute;
    right: 40px;
    bottom: 40px;
    
    width: 200px;
    height: 60px;

    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #242d38;
    background: none;

    border: 6px solid #242d38;
}

.button-3 {
    width: 200px;
    height: 60px;

    margin-bottom: 40px;
    border: none;

    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: #fff;
    background-color: #4343f9;

    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    
}